.active {
    font-weight: bold;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px;
    margin: 2px;
    box-shadow: 0 0 4px;
    background-color:rgba(196,169,85,0.4);
}

.pageListWrapper{
    /*border: 1px solid;*/
    box-sizing: content-box;
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    /*width: auto;*/
    margin: 5px;
    box-shadow: 0 0 10px;
}

.pageListWrapper span:hover{
    border: 1px solid;
    /*padding: 3px;*/
    /*margin: 2px;*/
    /*transform: scale(1.5);*/
    transition: 0.5s;
}

.userPhoto {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 10px;
}

.avatarWrapper {
    /*border: 2px solid;*/
    /*padding: 5px;*/
    margin: 5px;
    background-color: rgba(224, 241, 176, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.usersWrapper {
    display: flex;
    flex-direction: row;
    /*border: 2px solid;*/
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

.usersInfo {
    display: flex;
    flex-direction: row;
    /*border: 2px solid;*/
    padding: 5px;
    margin: 5px;
    background-color: rgba(224,241,176,0.3);
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 10px;
}

.nameAndStatus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    max-width: 350px;
    /*opacity: 1;*/
}

.name {
    font-size: 30px;
    text-decoration-line: underline;
}

.status {
    font-size: 25px;
    word-break:break-all;
}

.usersLocation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 140px;
}

.country {
    font-size: 30px;
}

.city {
    font-size: 25px;
}

button {
    border-radius: 10px;
}
button:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

input{
    max-width: 50px;
    text-align: center;
    border-radius: 10px;
}

.usersPreloader{
    position: absolute;
    /*margin: 0 auto;*/
    top: 40%;
    left: 50%;
    display: inline-block;
    z-index: 99;
    /*width: 50px;*/
}
.shadow{
    opacity: 0.3;
}
/*.usersPreloader img{*/
/*    width: 150px;*/
/*}*/