.wrapper{

}


.preloader img{
    /*position: relative;*/
    /*right: -50px;*/
    /*top:  10px;*/
    /*display: inline-block;*/
    /*z-index: 99;*/
    width: 80px;
}
.lorem{
    /*opacity: 0.5;*/
    /*background-color: black;*/
}
.lorem .preloader {
     position: relative;
     /*right: -50px;*/
     /*top:  10px;*/
     display: inline-block;
     /*z-index: 99;*/
     /*width: 80px;*/
 }