.pageWrapper {
  overflow: hidden;

  .content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #fcf9f5;

    .contentContainer {
      padding-right: 1rem;
      padding-left: 1rem;
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      .box {
        //margin-bottom: -2rem;
        //margin-right: -1rem;
        //margin-left: -1rem;
        display: flex;
        flex-wrap: wrap;
        background: transparent;

        .navbar {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding: 0 0 20px 0
        }

        @media (min-width: 992px) {
          .navbar {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            //padding-right: 15px;
            //padding-left: 15px;
            padding: 0 15px 0 0 ;
          }
        }

        .main {
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          border: 1px solid #e7e8e9;
          border-radius: 0.5rem;
          background: #fff;
        }

        @media (min-width: 992px) {
          .main {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
          }
        }
      }
    }

    //@media (min-width: 576px) {
    //  .contentContainer {
    //    max-width: 540px;
    //  }
    //}

    //@media (min-width: 768px) {
    //  .contentContainer {
    //    max-width: 720px;
    //  }
    //}

    @media (min-width: 992px) {
      .contentContainer {
        max-width: 960px;
      }
    }

    @media (min-width: 1200px) {
      .contentContainer {
        max-width: 1380px;
      }
    }

  }
}


//.app-wrapper {
//  width: 900px;
//  margin: 0 auto;
//  /*display: grid;*/
//  /*grid-template-areas: 'h h' 'n c';*/
//  /*grid-template-rows: auto 1fr;*/
//  /*grid-template-columns: 2fr 10fr;*/
//  /*grid-gap: 10px;*/
//}
//
//.appWrapperContent {
//  /*background-color: #CADFF4;*/
//  /*background-image: url("https://i.pinimg.com/736x/1c/d9/c5/1cd9c584f78937cae0e1fdb6e9460e59--old-paper-parchment-paper.jpg");*/
//  /*background-image: url("https://eanews.ru/files/2017/03/13/set.jpg");*/
//  grid-area: c;
//  padding: 10px;
//  box-shadow: 0 0 10px black;
//  z-index: 1;
//  position: relative;
//}
//
//.appWrapperContent .appPreloader img {
//  position: absolute;
//  height: 300px;
//  left: 30%;
//}