.app-wrapper {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.appWrapperContent {
  /*background-color: #9dab6a;*/
  background-image: url("https://i.pinimg.com/736x/1c/d9/c5/1cd9c584f78937cae0e1fdb6e9460e59--old-paper-parchment-paper.jpg");
  grid-area: c;
  padding: 10px;
  box-shadow: 0 0 10px;
  z-index: 1;
}
.preloader {
  position: absolute;
  /*display: inline-block;*/
  z-index: 2;
  margin: 200px auto;
  left: 50%;
}
